body {
    background: #2A91EE;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    /* margin-top: 74px;
    margin-bottom: 74px;
    gap: 74px; */
    align-items: center;
    scroll-padding-top: 137px;
}

.row {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 37px;
    gap: 74px;
}

.row-small {
    height:  50%;
}

.row-medium {
    height:  75%;
}

.row-title {
    margin-top: 0;
    margin-bottom: 0;
}

.col {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col-3 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;
}

#navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 8px 0px 0px #276CC9;
    overflow: hidden;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* display: block;
    position: relative; */
}

#navbar .buttons {
    display: flex;
}

#logo {
    position: absolute;
    color: #000;
    font-family: 'Silkscreen', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px;
    left: 4%;
    top: 0;
}

#home {
    text-decoration: none;
}

#menuIcon {
    display: none;
}

#navbar .buttons a {
    float: right;
}
.buttons a {
    text-align: center;
    padding: 12px 25px;
    margin: 15px;
    font-size: 18px;
    
    color: #000;
    border: 10px solid #2E316C;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #276CC9;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
    
.buttons a:hover {
    box-shadow: 3px 3px 0px 0px #276CC9;
    transform: translate(5px, 5px);
    background-color: #2A91EE;
    color: white;
}


.frame, .footerColumn{
    padding: 6% 7%;
    align-items: center;
    justify-content: center;
}
.frame {
    grid-column: span 3;
    width: 85%;
    height: 85%;
    margin: auto;
    position: relative;
    border: 10px solid var(--Edge-Blue, #2E316C);
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #276CC9;
}

.frame p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame h1 {
    align-self: stretch;
    color: #000;
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.frame h2 {
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero {
    /* padding: 0; */
    background-color: #9BE9FF;
}

.hero img {
    width: 100%;
    height: 100%;
    padding: 0 0;
    object-fit: cover;
}

.skills {
    grid-column: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.skills-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.skills-title h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 28px;
    text-align: left;
}

.skills-title img {
    padding: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.skills p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.frame .project img {
    max-width: 100%;
}


.workTitle, .aboutMeTitle {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workTitle hr, .aboutMeTitle hr {
    flex-grow: 1;
    border: 3px dashed black;
    background-color: transparent;
    margin-left: 2%;
    margin-right: 2%;
    height: 0px;

}
.workTitle h2, .aboutMeTitle h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 42px;
}

#highlightedWork {
    /* opacity: 0 */
    grid-column: span 6;
}

.project .projectTitle {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: hsla(0, 0%, 100%, 0.75);  */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    transition: opacity 0.2s ease-in-out; 
}

.project {
    /* cursor: pointer; */
    grid-column: span 6;
    height: 85%;
    width: 85%;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.projectTitle h2 {
    font-size: 38px;
    color: white;
    background-color: black;
    padding: 10px;
}

.projectTitle h4 {
    font-weight: 400;
    color: #888
}
.projectTitle p {
    font-size: 20px;
}

.projectTitle .buttons {
    margin-top: 5%;
    margin-bottom:5%;
}

.project {
    height: 70%;
}

/* .project:hover .projectTitle{
    opacity: 1;
    user-select: none;
} */

#highlightedWork {
    position: absolute;
    /* display: flex;  */
    /* flex-direction: column; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: hsla(0, 0%, 100%, 0.75); 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
    transition: opacity 0.2s ease-in-out; 
}

.projectDescription {
    display: flex;
    height: 100%;

}

#gifts {
    position: relative;
    display: none;
    opacity: 0;
}
#usda {
    position: relative;
    display: none;
    opacity: 0;
}

/* .capture-station-app, .nudge-project, .u-s-d-of-a, .gifts-for-seniors-project {
    top: -100px;
} */

#capture-station, #nudge, #united-states-dept-of-agriculture, #gifts-for-seniors {
    position: relative;
    /* scroll-padding-top: 137px; */
    margin-top: -137px;
    /* padding-top: 100px; */
    /* visibility: hidden; */
    margin: 0;
}

.learn-more-p {
    /* start hidden but not taking up space then toggle it with javascript */
    display: none;
    transition: opacity 0.2s ease-in-out;
}


.portrait {
    padding: 0 0;
    width: 99%;
    height: 94%;
}

.aboutMeDescription {
    /* width: 72%; */
}
.aboutMeDescription p {
    font-size: 22px;
}

.aboutMeDescription .title {
    font-family: 'Silkscreen', sans-serif;
}

/* .aboutMeDescription h1 {
    font-family: 'Lato', sans-serif;
} */


.contactDetails {
    grid-column: span 3;
    width: 85%;
    height: 85%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

}

.contactDetails h1, .contactDetails h2, .contactDetails p {
    font-family: 'Lato', sans-serif;
}
.contactDetails h1 {
    font-size: 40px;
}
.contactDetails h2 {
    font-size: 32px;
}
.contactDetails p {
    font-size: 22px;
}
.contactDetails .socials {
    /* change color to black */
}

#contactSubmitForm {
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactForm .formGroup {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.contactForm h2 {
    color: #000;
    font-family: 'Lato', 'san-serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contactForm p {
    font-family: 'Lato', 'san-serif';
}
.contactForm label {
    font-family: 'Lato', 'san-serif';
    font-size: 28px;
    padding-bottom: 5px;
}
.contactForm input[type=text],
.contactForm input[type=email],
.contactForm input[type=tel],
.contactForm textarea {
    /* width: 100%; */
    border: 4px solid var(--Edge-Blue, #2E316C);
    background: #FFF;
    box-shadow: 3px 3px 0px 0px #276CC9;
    height: 20px;
}

.contactForm input[type=submit] {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 25px;
    margin: 15px;
    font-size: 18px;
    
    color: #000;
    border: 10px solid #2E316C;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #276CC9;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.contactForm input[type=submit]:hover {
    box-shadow: 3px 3px 0px 0px #276CC9;
    transform: translate(5px, 5px);
    background-color: #2A91EE;
    color: white;
}
.contactForm textarea {
    height: 100px;
}

.formRequired {
    font-size: 14px;
    font-style: italic;
    color: #333
}

#footer {
    width: 100%;
    margin: 0 auto;
    background: #2E316C;
    align-items: center;
    justify-content: center;
}
.footerRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}

#footer h2 {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer h3 {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

#footer p {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer a {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#footer a:hover  {
    text-decoration: underline;
}
#footer .socials a:hover, 
.contactDetails .socials a:hover  {
    text-decoration: none;
}

.mobileMenu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mobileMenu .checkbox, .mobileMenu .hamburgerLines {
    position: absolute;
    display: block;
    height: 48px;
    width: 40px;
    top: 40px;
    right: 20px;
}

.mobileMenu .checkbox {
    top: 32px;
    right: 15px;
    width: 45px;
    height: 40px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.mobileMenu .hamburgerLines {
    height: 32px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.mobileMenu .hamburgerLines .line {
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
  
.mobileMenu .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.mobileMenu .hamburgerLines .line2 {
transition: transform 0.2s ease-in-out;
}

.mobileMenu .hamburgerLines .line3 {
transform-origin: 0% 100%;
transition: transform 0.4s ease-in-out;
}
#navbar .menuItems {
    display: flex;
}

.menuItems {
    position: fixed;
    padding-top: 120px;
    box-shadow: inset 0 0 2000px #2A91EEFF;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    /* margin-left: -40px;
    padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 3;
    top: 100px;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}

#navbar .menuItems li {
    list-style: none;
    margin-bottom: 1.2rem;
    font-size: 3rem;
    font-weight: 600;
}

.menuItems li a {
    text-decoration: none;
    color: black;
}

.mobileMenu input[type="checkbox"]:checked ~ .menuItems {
    transform: translateX(0%);
}

.mobileMenu input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
    transform: rotate(45deg);
}

.mobileMenu input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
    transform: scaleY(0);
}

.mobileMenu input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
    transform: rotate(-45deg);
}




@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
    #menuIcon {
        display: flex;
    }
    #navbar .buttons {
        display: none;
    }
    #logo {
        padding-top: 10px;
        font-size: 44px;
    }
    .frame {
        grid-column: span 6;
        width: 70%;
        margin: 0 auto;
    }
    .footerRow {
        grid-template-columns: 1fr;
    }
    .skills {
        grid-column: span 6;
    }
    .skills-title h2 {
        font-size: 32px;
    }
    .skills p {
        font-size: 24px;
    }
    .workTitle {
        grid-column: span 6;
    }
    .workTitle hr {
        /* border-spacing: 1px; */
    }
    .workTitle h2 {
        font-size: 32px;
    }
    .project {
        flex-direction: column;
        height: 90%
    }
    .project img {
        width: 100%;
    }
    .mobileMenu {
        display: flex;
    }
    .contactDetails {
        grid-column: span 6;

    }
    .contactForm {
        grid-column: span 6;

    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .content {
        gap: 50px;
        margin: 5% 5%;
    }
    #logo {
        font-size: 44px;
    }
    #navbar .buttons a {
        padding: 8px 17px;
        margin: 10px;
        font-size: 14px;
        
        color: #000;
        border: 8px solid #2E316C;
        background: #FFF;
        box-shadow: 6px 6px 0px 0px #276CC9;
    }
    .frame {
        width: 80%;
        margin: 5% 5%;
    }
    .frame p {
        font-size: 18px;
    }
    .frame h1 {
        font-size: 32px;
    }
    .project {
        flex-direction: column;
        height: 90%
    }
    .project img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .frame .skills {
        width: 85%;
        padding: 5%;
    }
    .skills-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-title h2 {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        font-size: 20px;
    }
    .skills-title img {
        padding: 20px;
        padding-right: 10px;
    }
    
    .skills p {
        font-size: 16px;
    }
}


